name=redis-connect-flight
connector.class=com.goibibo.connect.redis.RedisSinkConnector
topics=PersuasionFlightRedisOutput
redis.host=persuasion-dp.vcbrj0.ng.0001.aps1.cache.amazonaws.com
redis.database=15